<div id="home-background">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center" id="home-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 id="hello">Hello.</h1>
        </div>
    </div>
</div>

<div id="main-jumbo">
    <div class="row">
        <div class="col">
            <h1 id="name">Kathryn Breslin</h1>
        </div>
    </div>

    <div id="about">
        <div id="kathryn">
            <a href="https://github.com/kathryn-breslin"> <img src="assets/images/kathryn breslin.jpeg" alt="Kathryn Breslin"
                    title="Kathryn Breslin"></a>
        </div>
        <div id="paragraph">
            <p>This is where I will say something about myself and my work.... This is where I will say something about
                myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
                This is where I will say something about myself and my work....
            </p>
        </div>
    </div>
</div>



{{!--
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <title>Kathryn Breslin</title>
</head>

<body background="assets/images/what-the-hex.png">

    <header>
        <div id="headerContainer">
            <!--You can use fixed for this; reference in-class activity-->
            <div class="name">
                <a class="active" href="/index">
                    <h1>Kathryn Breslin</h1>
                </a>
            </div>

            <!--nav bar-->
            <div class="topnav">
                <ul>
                    <li><a href="/index" title="About">About</a></li>
                    <li><a href="/portfolio" title="Portfolio">Portfolio</a></li>
                    <li class="noBorder"><a href="/contact" title="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!--About Me section; remember relative & absolute spacing-->

    <div class="internalContainer">
        <!--border around container-->
        <div class="about">
            <h2>About Me</h2>
        </div>

        <div class="divider">
            <!--make this the gray line that divides the "About Me" and the image and paragraph below-->
        </div>

        <div class="image">
            <a href="https://github.com/kathryn-breslin"> <img src="assets/images/kathryn breslin.jpeg" alt="Kathryn Breslin"
                    title="Kathryn Breslin"></a>
        </div>

        <div class="para1">
            <p> <strong>Hi.</strong> I'm Kathryn.</p>
            <p>I'm so happy you've stopped by. I currently live and work in Dallas, but I'm a Philadelphia girl at
                heart. I work with a fantasic team in Business Development at <a href="http://tm.com/">TM Advertising</a>,
                where I spend most of my daytime writing RPFs, press releases, social posts and internal communications
                documents. It's a fast-paced and fun industry that has taught me to embrace the challenges and
                excitments of the every day.</p>
            <p> My real passion, though, is spending every free moment outside - cycling, running, hiking, skiing,
                traveling. Enjoying the world we live in. I truly believe that everything we could every dream of
                having, achieving, experiencing or feeling already exists, just waiting for us to realize it.
                Everything is now. I try to live every day with this in mind.</p>
            <p> Poke around my first site and don't hesitate to reach out!</p>

            <br>
        </div>
    </div>


    <div class="footerContainer">
        <!--make this sticky-->
        <div class="push"></div>
        <div class="footer1">
            <!--make this the blue line-->
        </div>
        <div class="footer2">
            <!--make this the gray bar at the bottom-->
            <p> Copyright © </p>
        </div>
    </div>

</body>

</html> --}}