<div id="portfolio-background">
    <div class="jumbotron jumbotron-fluid" id="workBackground">
        <div class="container-fluid text-center" id="port-nav">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-light" id="index-button">Home</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="portfolio-button">Work</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-light" id="contact-button">Contact</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 id="work">Work</h1>
        </div>
    </div>
</div>

<div id="port-jumbo">
    <div class="row" id="portfolio">
        <div class="col-4" id="workDiv">
            <div class="card text-black">
                <img id="imgRoadster" class="img-responsive" src="assets/images/roadster.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Roadster</h5>
                    <p class="card-text">Node and Express Servers, MySQL Database</p>
                    <p class="card-text">This app helps adventurers team up and explore the open road - together!</p>
                </div>
            </div>
        </div>

        <div class="col-4" id="workDiv">
            <div class="card text-black">
                <img id="imgFriend" class="img-responsive" src="assets/images/friendFinder.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Friend Finder</h5>
                    <p class="card-text">Node and Express Servers</p>
                    <p class="card-text">This is a full-stack site that takes the results from the user's survey and
                        finds the best match!</p>
                </div>
            </div>
        </div>

        <div class="col-4" id="workDiv">
            <div class="card text-black">
                <img id="imgBurger" class="img-responsive" src="assets/images/burger.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">MySQL Burger</h5>
                    <p class="card-text">Node and Express Servers, MySQL Database, Handlebars</p>
                    <p class="card-text">Users can add and update burgers to the database.</p>
                </div>
            </div>
        </div>
    </div>

    {{!-- <div class="row" id="portfolio">
        <div class="col-4">
            <div class="card bg-dark text-black">
                <img class="img-responsive" src="assets/images/what-the-hex.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Friend Finder</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card bg-dark text-black">
                <img class="img-responsive" src="assets/images/what-the-hex.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Friend Finder</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card bg-dark text-black">
                <img class="img-responsive" src="assets/images/what-the-hex.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Friend Finder</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div> --}}
</div>