
#home-background {
    background-image: url(../images/DSC_0020.jpg);
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: white;
    height: 600px;
}

body, html {
    height: 100%;
    margin: 0;
}

#main-jumbo {
    background-color: white;
    margin-block-end: 0;
    margin-bottom: 0px;
    height: 800px;
}

#home-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

#hello {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 300px;
    margin-top: 50px;
}

#name {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    margin-top: 50px;
}

#about {
    margin: 100px;
}

#kathryn {
    float: left; 
    margin-right: 30px;
}

/* CONTACT PAGE */
#contact{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 300px;
}

#contact-jumbo{
    background-color: white;
    margin-block-end: 0;
    margin-bottom: 100px;
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    padding: 50px;
}

#contactBackground {
    background-image: url(../images/sunset.jpg);
    background-position: center;
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;  
}

#helloContact {
    text-align: center;
    font-family: 'Arimo', sans-serif;
}

label, button {
    font-family: 'Arimo', sans-serif;
}

#contact-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#submit button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

#submit button:hover {
    color: #ffffff !important;
    background: #8294A3;
    border-color: #8294A3 !important;
    transition: all 0.4s ease 0s;
}  

form {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #494949 !important;
    border-radius: 6px;
    /* display: inline-block; */
    margin-bottom: 40px;
    padding: 60px;
}

/* WORK PAGE */
#portfolio-background{
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#workBackground {
    background-image: url(../images/white_sands.jpg);
    background-position: center;
    height:1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

#port-jumbo {
    background-color: white;
    margin-block-end: 0;
    margin-bottom: 0px;
    height: 400px;
    padding: 50px;
}

#work {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: 250px;
}

#workDiv {
    margin-right: 20px;
    margin-bottom: 20px;
}

#portfolio {
    margin: 60px;
}

#port-nav {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#imgRoadster, #imgBurger, #imgFriend {
    opacity: 0.5;
}
.card-title {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 30px;;
}

.card-text {
    font-family: 'Arimo', sans-serif;
}

/* #workDiv :hover {
    opacity: 0.9;
} */

 #workDiv button {
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

#workDiv button:hover {
    color: #ffffff !important;
    background: #8294A3;
    border-color: #8294A3 !important;
    transition: all 0.4s ease 0s;
}

/* .footerContainer {
    margin: 0;
    min-height: 100px;
    margin-top: auto;
    margin-bottom: -50px;
} 

.footer, .push {
    height: 50px;
}

.footer2 {
    background-color: #E9ECEF;
    width: 100%;
    height: 50px;
   /* margin-bottom: -50px;
    min-height: 100%;*/
 /* }

.footer2 p {
    text-align: center;
    color: black;
    opacity: 0.5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    padding-top: 30px;
    margin: 0px;
} */ 

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Styles */
    #main-jumbo {
        background-color: white;
        margin-block-end: 0;
        margin-bottom: 0px;
        height: 100%;
    }

    #home-nav {
        background-color: white;
        padding: 15px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    #hello {
        font-family: 'Arimo', sans-serif;
        text-align: center;
        font-size: 100px;
        margin-top: 200px;
    }

    #kathryn {
        float: left;
        clear: right;
    }

    #paragraph {
        float: left;
    }
/* 
    .footerContainer {
        margin: 0;
        min-height: 100px;
        margin-top: auto;
        margin-bottom: -50%;
    } 
    
    .footer, .push {
        height: 50px;
    }
    
    .footer2 {
        background-color: #E9ECEF;
        width: 100%;
        height: 50px;
       /* margin-bottom: -50px;
        min-height: 100%;*/
/* 
    .footer2 p {
        text-align: center;
        color: black;
        opacity: 0.5;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 10px;
        padding-top: 30px;
        margin: 0px;
    } */

    #contact-jumbo {
        clear: right;
        margin-bottom: 20px;
    }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-width: 480px) and (max-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
        /* Styles */
        #home-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #hello {
            font-family: 'Arimo', sans-serif;
            text-align: center;
            font-size: 100px;
            margin-top: 100px;
        }

        #kathryn {
            float: left;
            clear: right;
        }
    
        #paragraph {
            float: left;
        }

        #workDiv {
            float: left;
            clear: right;
        }

        #port-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #contact-nav {
            background-color: white;
            padding: 15px;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    /* Styles */
    #home-nav {
        background-color: white;
        padding: 15px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    
    #hello {
        font-family: 'Arimo', sans-serif;
        text-align: center;
        font-size: 200px;
        margin-top: 100px;
    }

    #kathryn {
        float: left;
        clear: right;
    }

    #paragraph {
        float: left;
    }
}
        
    